<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acubeapps.childconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <permission android:name="com.acubeapps.childconnect.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.acubeapps.childconnect.permission.C2D_MESSAGE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity">
        </activity>

        <service android:name=".service.CoreService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.DeviceSyncService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".service.PolicySyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <service android:name=".service.UploadSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <service android:name=".service.CourseSyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true" />

        <activity
            android:name=".task.WaitTimerActivity"
            android:label="@string/title_activity_wait_timer"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".EventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PermissionsActivity"
            android:label="@string/title_activity_permissions"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".task.ProblemActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver
            android:name=".gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.MyInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service android:name=".gcm.RegistrationIntentService"
            android:enabled="true" />
    </application>

</manifest>